<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815626535785-bhsga8ciafms42d292bul78tchn54v5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815626535785-bhsga8ciafms42d292bul78tchn54v5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAcV0zrIojo-m9AIpsOazCnzaNrJA2wE68</string>
	<key>GCM_SENDER_ID</key>
	<string>815626535785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfire</string>
	<key>PROJECT_ID</key>
	<string>myfire-7c346</string>
	<key>STORAGE_BUCKET</key>
	<string>myfire-7c346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815626535785:ios:364b865eb6527c22daf3f8</string>
</dict>
</plist>